/* styles.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.app {
    width: 100%;
    max-width: 400px;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.tela {
    display: none;
}

.tela h1 {
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.tela img {
    max-width: 100%;
    border-radius: 8px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 1rem;
}

button:hover {
    background-color: #45a049;
}

.opcoes button {
    display: block;
    margin: 10px auto;
    width: 80%;
    background-color: #008CBA;
}

.opcoes button:hover {
    background-color: #007B9F;
}

#feedback {
    margin-top: 20px;
    font-size: 1rem;
    font-weight: bold;
}

/* Estilos para a tela do player de música */
#tela5 audio {
    width: 100%;
    margin-top: 20px;
}
